@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dim($ln, $hg){
    width: $ln;
    height: $hg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    font-family: 'Signika', sans-serif;
}

#container{
    @include dim(100vw, 100vh);
    @include flex();
    #board{
        @include dim(70vh, 70vh);
        border: 2px solid black;
        border-radius: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
        .box_grid{
            // border: 1px dotted black;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            div{
                border: 1px solid black;
                cursor: pointer;
            }
        }
    }
    #buttons{
        @include dim(40vw, 70vh);
        @include flex(space-between, center);
        flex-direction: column;
        button{
            outline: none;
            border:none;
            cursor: pointer;
        }
        #solve_btn{
            @include dim(28vw, 12vh);
            border-radius: 10px;
            background-color:#242BFF;
            color: white;
            font-size: 1.8rem;
            transition: 400ms;
            &:hover{
                background-color: #060ddf;
            }
        }
        #num_pad{
            // border: 1px solid green;
            @include dim(28vw, auto);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 7px;
            button{
                padding: 5vh 0;
                font-size:1.4rem;
                color: #242BFF;
                background-color: #EAEEF4;
                border-radius: 10px;
                &:hover{
                    background-color: #e2e4e8;
                }
            }

        }
    }
}