@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

@media (min-width: 700px) {
  html {
    font-size: calc(10px + 0.5vw);
  }
}

body {
  font-family: 'Signika', sans-serif;
  background-color: black;
}

#container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #board {
  width: 70vh;
  height: 70vh;
  border-radius: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

#container #board .box_grid {
  border: 2px dotted black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#container #board .box_grid div {
  border: 1px solid white;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #buttons {
  width: 40vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container #buttons button {
  outline: none;
  border: none;
  cursor: pointer;
}

#container #buttons #solve_btn {
  width: 28vw;
  height: 12vh;
  border-radius: 10px;
  color: white;
  font-size: 1.8rem;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #FA8BFF, #2BD2FF, #2BFF88);
  -webkit-animation: border 5s linear infinite;
          animation: border 5s linear infinite;
}

#container #buttons #solve_btn:hover {
  color: #ACFBAF;
}

@-webkit-keyframes border {
  0% {
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #FA8BFF, #2BD2FF, #2BFF88);
  }
  50% {
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ACFBAF, #63FD86);
  }
}

@keyframes border {
  0% {
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #FA8BFF, #2BD2FF, #2BFF88);
  }
  50% {
    border-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ACFBAF, #63FD86);
  }
}

#container #buttons #num_pad {
  width: 28vw;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
}

#container #buttons #num_pad button {
  padding: 5vh 0;
  font-size: 1.4rem;
  color: #242BFF;
  background-color: #EAEEF4;
  border-radius: 10px;
}

#container #buttons #num_pad button:hover {
  background-color: #e2e4e8;
}
/*# sourceMappingURL=style.css.map */