@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}
@mixin dim($ln, $hg){
    width: $ln;
    height: $hg;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
    scroll-behavior: smooth;
}

body{
    font-family: 'Signika', sans-serif;
    background-color: black;
}

#container{
    @include dim(100vw, 100vh);
    @include flex();
    #board{
        @include dim(70vh, 70vh);
        border-radius: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        .box_grid{
            border: 2px dotted black;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            div{
                border: 1px solid white;
                cursor: pointer;
                color: white;
                font-size: 1.3rem;
                @include flex();
            }
        }
    }
    #buttons{
        @include dim(40vw, 70vh);
        @include flex(space-between, center);
        flex-direction: column;
        button{
            outline: none;
            border:none;
            cursor: pointer;
        }
        #solve_btn{
            @include dim(28vw, 12vh);
            border-radius: 10px;
            color: white;
            font-size: 1.8rem;
            background-color: transparent;
            border-width: 3px;
            border-style: solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #FA8BFF, #2BD2FF, #2BFF88);
            animation: border 5s linear infinite;
            &:hover{
                color: #ACFBAF;
            }
        }
        @keyframes border {
            0%{
                border-width: 3px;
                border-style: solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(to left, #FA8BFF, #2BD2FF, #2BFF88);
            }
            50%{
                border-width: 3px;
                border-style: solid;
                border-image-slice: 1;
                border-image-source: linear-gradient(to left, #ACFBAF, #63FD86);
            }
            
        }
        #num_pad{
            // border: 1px solid green;
            @include dim(28vw, auto);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 7px;
            button{
                padding: 5vh 0;
                font-size:1.4rem;
                color: #242BFF;
                background-color: #EAEEF4;
                border-radius: 10px;
                &:hover{
                    background-color: #e2e4e8;
                }
            }

        }
    }
}